/**
* UNIVERSAL STYLES
***********************************************************/
body{
	font-size:62.5%;/*for the use of "em" unit like: 1.2em = 12px*/
}

body, html{
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

/**
* LIBRARY STYLES
***********************************************************/



/**
* TEMPLATE LAYOUTS
***********************************************************/


/**
* INDIVIDUAL PAGE STYLES
***********************************************************/
